{% extends "base.html" %}
{% block content %}
<div class="border p-4 mb-5 ">
        <legend class="border-bottom pb-1 mb-3 ">تسيجيل الدخول</legend>    
        <form method="POST">
                {% if messages %}
                {% for  message in messages%}
                    <div class="alert alert-success ">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="username">اسم المستخدم</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="قم بكتابه اسم المستخدم">
            </div>
            <div class="form-group">
                    <label for="password">كلمه المرور</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="قم بكتابه كلمه المرور">
                </div>
            <input class="btn btn-secondary mt-4" type="submit" value="تسجيل الدخول">
        </form>
        <div class="border-top mt-4 pt-2">
            <small>اذا لم يكن لديك حساب من قبل يمكنك <a href="{% url 'register' %}">التسجيل من هنا</a></small>
        </div>
</div>
{% endblock content %}