/* START BASE.html ///////////////////////////////////////////////////////////////////////////////////////////*/
/* START GLOBAL ///////////////////////////////////////////////////////////////////////////////////////////*/
@font-face{
    font-family: 'Tajawal';
    src: url(../fonts/Tajawal-Regular.ttf) format("truetype"),
    local('Tajawal');
}
html,body{
    direction: rtl;
    text-align: right;
}
body{
    font-family: 'Tajawal', sans-serif;
}
/* END GLOBAL /////////////////////////////////////////////////////////////////////////////////////////////*/

/* START NAVBAR ///////////////////////////////////////////////////////////////////////////////////////////*/
.dropdown-menu .dropdown-item{
    text-align: right;

}
/* END NAVBAR ///////////////////////////////////////////////////////////////////////////////////////////*/

/* START FOOTER ///////////////////////////////////////////////////////////////////////////////////////////*/
.bg-secondary{
    background-color: #666 !important;
}
.bg-light{
    background-color: #ccc !important;
}
/* END FOOTER ///////////////////////////////////////////////////////////////////////////////////////////*/
/* END BASE.html  ///////////////////////////////////////////////////////////////////////////////////////////*/

/* START SIDEBAR ///////////////////////////////////////////////////////////////////////////////////////////*/

.latest-posts ,.latest-comment{
    padding: 0 15px;
}
.latest-posts .latest-posts-items , .latest-comment .latest-comment-items{
    padding: 6px;
}
.latest-posts li:first-child, .latest-comment li:first-child{
    border-top:0; 
}
.latest-posts li:last-child, .latest-comment li:last-child{
    border-bottom:0; 
    padding-bottom:0; 
}
/* END SIDEBAR  ///////////////////////////////////////////////////////////////////////////////////////////*/

/* START COMMENT  ///////////////////////////////////////////////////////////////////////////////////////////*/

.comment{
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
}

/* END COMMENT  ///////////////////////////////////////////////////////////////////////////////////////////*/


/* START detail.html  ///////////////////////////////////////////////////////////////////////////////////////////*/

.btn-editing{
    float: left;
}

/* END detail.html  ///////////////////////////////////////////////////////////////////////////////////////////*/

/* START post_confirm_delete.html  ///////////////////////////////////////////////////////////////////////////////////////////*/

.back-btn{
    float: left;
}

/* END post_confirm_delete.html  ///////////////////////////////////////////////////////////////////////////////////////////*/
